button.remove {
    color: #f10505;
    background: none;
    border: none;
    font-size: 2em;
    padding: 0;
    margin: 0;
    width: 100%;
}

div.alert {
    display:none;
    margin: 3.2em 0 0;
}

div.div-hid {
    display: none;
}

div.hat{
    border: 1px solid black; 
}

hr.black-line{
    color: black;
}

p.inv-txt{
    font: 11pt Times New Roman;
}

iframe#invoiceframe {
    width: 100%;
    max-width: 900px;
    height: 1000px;
}